<div>
    <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    <br>
    <div class="col-sm-12">
        <button type="button" pButton style="float: right;" (click)="backusers()" label="Lista de Usuarios"
            class="ui-button-success btn-action"></button>
    </div>
    <br>
    <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'">
        <aw-wizard-step stepTitle="Datos Personales"
            [navigationSymbol]="{ symbol: '&#xf501;', fontFamily: 'FontAwesome' }">
            <div class="centered-content">
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-8">
                            <div class="ui-g-4">
                                Tipo de Identificación
                            </div>
                            <div class="ui-g-8">
                                <p-dropdown [options]="tipeidentity" optionLabel="name" autoWidth="false"
                                    [style]="{'width':'50%'}">
                                </p-dropdown>
                            </div>

                            <div class="ui-g-4">
                                Identificación
                            </div>
                            <div class="ui-g-8">
                                <input pInputText type="text" pKeyFilter="int" autocomplete="false" />
                            </div>

                            <div class="ui-g-4">
                                Nombres
                            </div>
                            <div class="ui-g-8">
                                <input pInputText type="text" autocomplete="false" />
                            </div>

                            <div class="ui-g-4">
                                Apellidos
                            </div>
                            <div class="ui-g-8">
                                <input pInputText type="text" autocomplete="false" />
                            </div>

                            <div class="ui-g-4">
                                Email
                            </div>
                            <div class="ui-g-8">
                                <input pInputText type="text" pKeyFilter="email" autocomplete="false" />
                            </div>

                            <div class="ui-g-4">
                                Fecha Nacimiento
                            </div>
                            <div class="ui-g-8">
                                <p-calendar [(ngModel)]="birth_date" [style]="{'width':'100%'}" [monthNavigator]="true"
                                    [yearNavigator]="true" yearRange="1960:2030" dateFormat="dd/mm/yy"
                                    [inputStyle]="{'width':'50%'}" showButtonBar="true">
                                </p-calendar>
                            </div>

                            <div class="ui-g-4">
                                Género
                            </div>
                            <div class="ui-g-8">
                                <div class=" ui-g-12">
                                    <p-radioButton name="group1" value="M" label="Masculino" [(ngModel)]="gender">
                                    </p-radioButton>
                                </div>
                                <div class="ui-g-12">
                                    <p-radioButton name="group1" value="F" label="Femenino" [(ngModel)]="gender">
                                    </p-radioButton>
                                </div>
                            </div>

                            <div class="ui-g-4">
                                Celular
                            </div>
                            <div class="ui-g-8">
                                <input pInputText type="text" pKeyFilter="num" autocomplete="false" />
                            </div>

                            <div class="ui-g-4">
                                Estado
                            </div>
                            <div class="ui-g-8">
                                <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-info" awNextStep>Continuar</button>
            </div>
        </aw-wizard-step>
        <aw-wizard-step [stepTitle]="'Perfiles'" [navigationSymbol]="{ symbol: '&#xf085;', fontFamily: 'FontAwesome' }">
            <div class="centered-content">
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-8">
                            <p>Seleccione los perfiles</p>
                            <p-triStateCheckbox [(ngModel)]="value" label="Todos los perfiles"></p-triStateCheckbox>
                            <hr>
                            <div *ngFor="let perfil of perfiles">
                                <p-triStateCheckbox label="{{perfil.name}}"></p-triStateCheckbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-warning" awPreviousStep>Atras</button>&nbsp;
                <button type="button" class="btn btn-info" awNextStep>Continuar</button>
            </div>
        </aw-wizard-step>
        <aw-wizard-step [stepTitle]="'Institución'"
            [navigationSymbol]="{ symbol: '&#xf549;', fontFamily: 'FontAwesome' }">
            <div class="centered-content">
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-8">
                            <div class="ui-g-4">
                                Tipo de Institución
                            </div>
                            <div class="ui-g-8">
                                <p-multiSelect [options]="tipe_institution" [(ngModel)]="selectInstitution"
                                    placeholder="Seleccionar" optionLabel="name" defaultLabel="Escoger"></p-multiSelect>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-warning" awPreviousStep>Atras</button>&nbsp;
                <button type="button" class="btn btn-success" awResetWizard>Finalizar</button>
            </div>
        </aw-wizard-step>
    </aw-wizard>
</div>