:host::ng-deep .ui-steps .ui-steps-item {
    width: 30%;
}

:host::ng-deep .ui-steps .steps-custom {
    margin-bottom: 30px;
}

:host::ng-deep .ui-steps .steps-custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}

:host::ng-deep .ui-steps .steps-custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 36px;
    border-radius: 50%;
    margin-top: -14px;
    margin-bottom: 10px;
}

:host::ng-deep .ui-steps .steps-custom .ui-steps-item .ui-steps-title {
    color: #555555;
}

.btn_action{
    float:right;
}

input{
    width: 50%;
}

p-calendar{
    width: 90%;
}