$topnav-background-color: #387ef5;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: white;
            &:hover {
                color: #fff;
            }
        }
        .rtl{
            background-color: #90EE90;
            color: white !important;
            font-weight: bold;
        }
        .message{
            background-color: violet;
            color: white !important;
            font-weight: bold;
        }
        .notification{
            background-color: #DAA520;
            color: white !important;
            font-weight: bold;
        }
        .usr{
            background-color: #ADD8E6;
            color: white !important;
            font-weight: bold;
        }
    }
    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
