<div>
    <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
    <br>
    <div class="col-sm-12">
        <button type="button" pButton style="float: right;" (click)="backinstituto()" label="Lista de Instituciones"
            class="ui-button-success btn-action"></button>
    </div>
    <br>
    <aw-wizard #wizard [navBarLayout]="'large-empty-symbols'">
        <aw-wizard-step stepTitle="Institución" [navigationSymbol]="{ symbol: '&#xf015;', fontFamily: 'FontAwesome' }">
            <div class="centered-content">
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-8">
                            <div class="ui-g-4">
                                Tipo de Educación
                            </div>
                            <div class="ui-g-8">
                                <p-dropdown [options]="tipe_education" [(ngModel)]="selectEducation"
                                    placeholder="Seleccionar" optionLabel="name" [showClear]="true"></p-dropdown>
                            </div>
                            <div class="ui-g-4">
                                Nombre
                            </div>
                            <div class="ui-g-8">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fa-home"></i></span>
                                    <input pInputText type="text" [(ngModel)]="instituto.nombre" autocomplete="false" />
                                </div>
                            </div>

                            <div class="ui-g-4">
                                Misión
                            </div>
                            <div class="ui-g-8">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fa-bookmark"></i></span>
                                    <textarea pInputTextarea [(ngModel)]="instituto.mision"></textarea>
                                </div>
                            </div>

                            <div class="ui-g-4">
                                Visión
                            </div>
                            <div class="ui-g-8">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fa-bookmark"></i></span>
                                    <textarea pInputTextarea [(ngModel)]="instituto.vision"></textarea>
                                </div>
                            </div>

                            <div class="ui-g-4">
                                Año Fundación
                            </div>
                            <div class="ui-g-8">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fa-clock-o"></i></span>
                                    <input pInputText type="text" [(ngModel)]="instituto.fundado"
                                        autocomplete="false" />
                                </div>
                            </div>

                            <div class="ui-g-4">
                                Teléfono
                            </div>
                            <div class="ui-g-8">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fa-fax"></i></span>
                                    <input pInputText type="text" [(ngModel)]="instituto.telefono" pKeyFilter="num"
                                        autocomplete="false" />
                                </div>
                            </div>

                            <div class="ui-g-4">
                                Celular
                            </div>
                            <div class="ui-g-8">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fa-mobile"></i></span>
                                    <input pInputText type="text" [(ngModel)]="instituto.celular" pKeyFilter="num"
                                        autocomplete="false" />
                                </div>
                            </div>

                            <div class="ui-g-4">
                                Estado
                            </div>
                            <div class="ui-g-8">
                                <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
                            </div>
                        </div>
                        <div class="ui-g-12 ui-md-4">
                            <div class="ui-g-8">
                                <img [(src)]="imgURL" width="250px" />
                                <p-fileUpload mode="basic" name="demo" accept="image/*" maxFileSize="1000000"
                                    (onUpload)="onBasicUpload($event)" (onSelect)="onUploadImagen($event)">
                                </p-fileUpload>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-info" awNextStep>Continuar</button>
                </div>
            </div>
        </aw-wizard-step>
        <aw-wizard-step [stepTitle]="'Dirección'"
            [navigationSymbol]="{ symbol: '&#xf2d5;', fontFamily: 'FontAwesome' }">
            <div class="centered-content">
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-8">
                            <div class="ui-g-4">
                                Provincia
                            </div>
                            <div class="ui-g-8">
                                <p-dropdown [options]="cities" [(ngModel)]="selecCities" placeholder="Seleccionar"
                                    optionLabel="name" [showClear]="true"></p-dropdown>
                            </div>
                            <div class="ui-g-4">
                                Ciudad
                            </div>
                            <div class="ui-g-8">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fa-map-marker"></i></span>
                                    <input pInputText type="text" [(ngModel)]="instituto.ciudad" autocomplete="false" />
                                </div>
                            </div>

                            <div class="ui-g-4">
                                Sector
                            </div>
                            <div class="ui-g-8">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fa-map-o"></i></span>
                                    <input pInputText type="text" [(ngModel)]="instituto.sector" autocomplete="false" />
                                </div>
                            </div>

                            <div class="ui-g-4">
                                Dirección
                            </div>
                            <div class="ui-g-8">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fa-map-signs"></i></span>
                                    <textarea pInputTextarea [(ngModel)]="instituto.direccion"></textarea>
                                </div>
                            </div>

                            <div class="ui-g-4">
                                Observaciones
                            </div>
                            <div class="ui-g-8">
                                <div class="ui-inputgroup">
                                    <span class="ui-inputgroup-addon"><i class="fa fa-navicon"></i></span>
                                    <textarea pInputTextarea [(ngModel)]="instituto.observacion"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-warning" awPreviousStep>Atras</button>&nbsp;
                    <button type="button" class="btn btn-info" awNextStep>Continuar</button>
                </div>
            </div>
        </aw-wizard-step>
        <aw-wizard-step [stepTitle]="'Secciones'"
            [navigationSymbol]="{ symbol: '&#xf085;', fontFamily: 'FontAwesome' }">
            <div class="centered-content">
                <div class="ui-fluid">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-8">
                            <div class="ui-g-4">
                                Tipo de Institución
                            </div>
                            <div class="ui-g-8">
                                <p-multiSelect [options]="tipe_institution" [(ngModel)]="selectInstitution"
                                    placeholder="Seleccionar" optionLabel="name" defaultLabel="Escoger"></p-multiSelect>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-warning" awPreviousStep>Atras</button>&nbsp;
                    <button type="button" class="btn btn-info" awNextStep>Continuar</button>
                </div>
            </div>
        </aw-wizard-step>
        <aw-wizard-step [stepTitle]="'Malla Curricular'"
            [navigationSymbol]="{ symbol: '&#xf19d;', fontFamily: 'FontAwesome' }">
            <div class="centered-content">
                <div>
                    Malla Curricular
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-warning" awPreviousStep>Atras</button>&nbsp;
                    <button type="button" class="btn btn-success" awResetWizard>Finalizar</button>
                </div>
            </div>
        </aw-wizard-step>
    </aw-wizard>

</div>