<div [@routerTransition]>
    <p>TABLERO DE TAREAS</p>
    <hr>
    <ngb-tabset>
        <ngb-tab>
            <ng-template ngbTabTitle><i class="fa fa-clock-o"></i> &nbsp;<span class="tab-title">Actuales</span></ng-template>
            <ng-template ngbTabContent>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tarea</th>
                            <th>Clase</th>
                            <th>Envio</th>
                            <th>Entrega</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let task_ of task">
                        <tr *ngIf="task_.estado=='P'">
                            <td>
                                <button type="button" (click)="getSelectTask(task_)" class="btn btn-primary fa fa-search-plus"
                                    data-toggle="modal" data-target="#descTask"></button>
                            </td>
                            <td>{{task_.titulo}}</td>
                            <td>{{task_.materia}}</td>
                            <td>{{task_.enviado}}</td>
                            <td>{{task_.entregado}}</td>
                            <td>{{task_.estado}}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle><i class="fa fa-folder-open" aria-hidden="true"></i> &nbsp;<span class="tab-title">Historial</span></ng-template>
            <ng-template ngbTabContent>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tarea</th>
                            <th>Clase</th>
                            <th>Envio</th>
                            <th>Entrega</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let task_ of task">
                        <tr *ngIf="task_.estado=='E'">
                            <td>
                                <button type="button" (click)="getSelectTask(task_)" class="btn btn-warning fa fa-search-plus"
                                    data-toggle="modal" data-target="#descTask"></button>
                            </td>
                            <td>{{task_.titulo}}</td>
                            <td>{{task_.materia}}</td>
                            <td>{{task_.enviado}}</td>
                            <td>{{task_.entregado}}</td>
                            <td><i class="fa fa-lock" aria-hidden="true" style="color: #B8860B"></i></td>
                        </tr>
                    </tbody>
                </table>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <!-- Modal -->
    <div class="modal fade" id="descTask" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{seletask?.descripcion}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Listo</button>
                </div>
            </div>
        </div>
    </div>
</div>
