.tbl-summary td {
    border-top: none;
}

.lbl {
    display: block;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: forestgreen;
}

.lbl label {
    font-size: 15px;
    color: black;
}

.lbl-detalle {
    font-size: 15px;
    font-weight: bold;
}

.parcial {
    width: 12%;
}

.desc {
    font-size: 12px;
    font-weight: bold;
}

.buttonss {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.btn-parcial {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    text-align: center;
    border-radius: 50%;
    width: 40%;
    height: 60px;
}
