<div>
  <p-toast [style]="{marginTop: '80px'}"></p-toast>
  <p-breadcrumb [model]="items" [home]="home"></p-breadcrumb>
  <br>
  <button type="button" pButton [routerLink]="['./createinstitute']" label="Nuevo" class="ui-button-success"
    icon="pi pi-check" iconPos="left"></button>&nbsp;
  <button type="button" [disabled]="isSelect()" pButton [routerLink]="['./editinstitute',instituteSelect?.id]"
    label="Editar" class="ui-button-info" icon="pi pi-pencil" iconPos="left"></button> &nbsp;
  <button type="button" [disabled]="isSelect()" pButton (click)="delete()" label="Eliminar" class="ui-button-danger"
    icon="pi pi-trash" iconPos="left"></button>
  <br>
  <hr>
  <h3 class="first">Lista de instituciones creadas</h3>
  <p-table #dt [columns]="selectedColumns" [value]="instituto" [paginator]="true" [rows]="10" selectionMode="single"
    [(selection)]="instituteSelect" dataKey="id">
    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-sm-6" style="text-align:left">
          <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
            selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}" defaultLabel="Seleccione Columnas">
          </p-multiSelect>
        </div>
        <div class="col-sm-6" style="text-align: right">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Buscar"
            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Contenedor para modal -->
  <p-dialog header="Eliminar Institución" [(visible)]="display" [modal]="true" [responsive]="true"
    [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <p>Estas seguro de eliminar la institución {{ instituteSelect?.nombre }}.</p>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="display=false" label="Yes"></button>
      <button type="button" pButton icon="pi pi-close" (click)="display=false" label="No"
        class="ui-button-secondary"></button>
    </p-footer>
  </p-dialog>
</div>